<%= form_with(model: skillset, local: true) do |form| %>


  <div class="field">
    <%= form.label :skill %>
    <%= form.text_field :skill %>
  </div>

  <div class="field">
    <%= form.label :hours_studied %>
    <%= form.number_field :hours_studied%>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.check_box :code %>
  </div>

  <div class="field">
    <%= form.label :subject_id %>
    <%= form.text_field :subject_id %>
  </div>

  <div class="actions">
    <%= form.submit "Enter" %>
  </div>
<% end %>
