




<div class="container-body">
    <% @skillsets.each do |skillset| %>





    <br>

    <h3> SUBJECT <span><%= skillset.skill %></span></h3>

    <ul>
       <li><b><%= skillset.subject.name %></b></li>
        <li><b><%= skillset.hours_studied %></b>Hours studied</li>
        <li><b><%= link_to 'Show', skillset %></li>
        <li><b><%= link_to 'Edit', edit_skillset_path(skillset) %></li>
  <li><b><%= link_to 'Destroy', skillset, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <li><b>Proficient?  </b><%= skillset.code %></li>
    </ul>

    <% end %>

    <br>

    <%= link_to 'Add a new skill', new_skillset_path %>
</table>

<br>

</div>

<div id="pricing-table" class="clear">
    <div class="plan">
        <h3>RUBY<span>skill</span></h3>
        <a class="signup" href="">Sign up</a>
        <ul>
            <li><b>10GB</b> Disk Space</li>
            <li><b>100GB</b> Monthly Bandwidth</li>
            <li><b>20</b> Email Accounts</li>
			<li><b>Unlimited</b> subdomains</li>
        </ul>
    </div>
    <div class="plan" id="most-popular">
        <h3>Professional<span>$29</span></h3>
        <a class="signup" href="">Sign up</a>
        <ul>
            <li><b>5GB</b> Disk Space</li>
            <li><b>50GB</b> Monthly Bandwidth</li>
            <li><b>10</b> Email Accounts</li>
			<li><b>Unlimited</b> subdomains</li>
        </ul>
    </div>
    <div class="plan">
        <h3>Standard<span>$17</span></h3>
		<a class="signup" href="">Sign up</a>
        <ul>
            <li><b>3GB</b> Disk Space</li>
            <li><b>25GB</b> Monthly Bandwidth</li>
            <li><b>5</b> Email Accounts</li>
			<li><b>Unlimited</b> subdomains</li>
        </ul>
    </div>
    <div class="plan">
        <h3>Basic<span>$9</span></h3>
        <a class="signup" href="">Sign up</a>
        <ul>
            <li><b>1GB</b> Disk Space</li>
            <li><b>10GB</b> Monthly Bandwidth</li>
            <li><b>2</b> Email Accounts</li>
			<li><b>Unlimited</b> subdomains</li>
        </ul>
    </div>
</div>
